
/* General reset */
body {
    background-image: url('nen.jpg'); /* Sửa đường dẫn tới file hình ảnh */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style container */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
}
header h1 {
    color:  #ff4500; /* Ví dụ: Màu trắng */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Thêm bóng chữ để tăng độ nổi bật */
    font-size: 3rem; /* Tăng kích thước chữ nếu cần */
    text-align: center; /* Căn giữa tiêu đề */
}
/* Style form elements */
form {
    margin-bottom: 15px;
}

label {
    margin: 10px 0;
    display: block;
}

input,
select {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Style the result box */
.result-box {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #c6f5c6;
    border: 1px solid #82c91e;
    border-radius: 5px;
}

/* Style the commentary box */
.comment-box {
    padding: 15px;
    background-color: #fffbe6;
    border: 1px solid #d9a44b;
    border-radius: 5px;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}
